{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<div></div>

{# Game-specific scripts (like libraries, ... #}
<script src="../../static/games/libs/pixi.min.js" defer></script>
<script src="../../static/games/libs/keyInput.js" defer></script>
<script src="../../static/games/libs/particle-emitter.min.js" defer></script>
<script src="../../static/games/flappyNoodle/flappyNoodle.js" defer></script>
<script src="../../static/games/libs/achievement.js" defer></script>

{# Canvas #}
<div id="canvasAnchor" class="d-flex justify-content-center mt-5" style="position: relative;">
</div>
<p class="d-flex justify-content-center mt-5"  >{{ game.description }}</p>

{% endblock content %}