{% extends 'core/base.html' %}
{% load static %}


{% block content %}

<h1>{{ game.title }}</h1>

{# Game-specific scripts (like libraries, ... #}
<script src="../../static/games/libs/pixi.min.js" defer></script>
<script src="../../static/games/libs/keyInput.js" defer></script>
<script src="../../static/games/libs/particle-emitter.min.js" defer></script>
<script src="../../static/games/flappyNoodle/flappyNoodle.js" defer></script>
<script src="../../static/games/libs/achievement.js" defer></script>

{# Canvas #}
<div id="canvasAnchor"></div>
<p>{{ game.description }}</p>

{% endblock content %}