{% extends 'core/base.html' %}
{% load static %}


{% block content %}
    <script src="../../static/games/libs/keyInput.js" defer></script>
    <script src="../../static/games/libs/pixi.min.js" defer></script>
    <script src="../../static/games/noodleJump/js/player.js" defer></script>
    <script src="../../static/games/noodleJump/js/platform.js" defer></script>
    <script src="../../static/games/noodleJump/js/noodleJump.js" defer></script>
    <script src="../../static/games/libs/achievement.js" defer></script>

    <div id="canvasAnchor" class="d-flex justify-content-center" style="position: relative;">
    </div>

    
{% endblock content %}