{% extends 'core/base.html' %}
{% load static %}


{% block content %}
    <script src="../../static/games/pixiexample/js/keysexample.js" defer></script>
    <script src="../../static/games/pixiexample/js/pixi.min.js" defer></script>
    <script src="../../static/games/libs/particle-emitter.min.js" defer></script>
    <script src="../../static/games/pixiexample/js/pixiexample.js" defer></script>
    <script src="../../static/games/libs/achievement.js" defer></script>

    <div class="d-flex justify-content-center flex-column">
        <div id="canvasAnchor" class="d-flex justify-content-center" style="position: relative;"> </div>
        <h1 class="d-flex justify-content-center">Ramen eaten: <span id="uiRockCounter"></span> (<span id="uiComboMultiplier"></span>x)</h1>
        <h1 class="d-flex justify-content-center">Hunger: <span id="uiHealth"></span></h1>
        <h1 class="d-flex justify-content-center">Feast Chain: <span id="uiChain"></span></h1>
    </div>
    <!---->
{% endblock content %}