{% extends 'core/base.html' %}
{% load static %}


{% block content %}
    <script src="../../static/games/pixiexample/js/keysexample.js" defer></script>
    <script src="../../static/games/pixiexample/js/pixi.min.js" defer></script>
    <script src="../../static/games/pixiexample/js/pixiexample.js" defer></script>

    <audio id="soundtrack">
        <source src="../../static/games/pixiexample/res/sound/Space-Shooter-V2.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div id="canvasAnchor" class="d-flex justify-content-center" style="position: relative;">
        <div style="position: absolute; top: 10px; left: 10px; font-family: Calibri; font-weight: bolder;">
            <h1>Rocks eaten: <span id="uiRockCounter"></span> (<span id="uiComboMultiplier"></span>x)</h1>
            <h1>Health: <span id="uiHealth"></span></h1>
            <h1>Current chain: <span id="uiChain"></span></h1>
        </div>
    </div>
    

    <h4>Credits:</h4>
    <p><b>Code:</b> Nino, Laurin</p>
    <p><b>Graphics:</b> Laurin, various sources</p>
    <p><b>Sounddesign:</b> Nino</p>
{% endblock content %}