{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    {# This is where an individual site's content will be included #}
    <div class="container col-9 text-center w-100 p-4" id="site-content">
        <!--Site-content-->
        <h1> Finest Selection </h1>
        <div id="gameDisplayBox" class="w-100">
            <div class="gameCollumn w-100 d-flex mt-4">
                <div class="container w-25 thumbnail"> <a href="rockinramen"> <h3> RockinRamen </h3><img src="{% static 'games/pixiexample/res/textures/Ramen_blue.png' %}" class="mb-3 thumbnail" alt="RockinRamen"/> </a> </div>
                <div class="container w-25"> <a href="noodleJump"> <h3> NoodleJump </h3><img src="{% static 'games/noodleJump/res/textures/meatball_player.png' %}" class="mb-3 thumbnail" alt="NoodleJump"/> </a> </div>
                <div class="container w-25"> <a href="flappyNoodle"> <h3> FlappyNoodle </h3><img src="{% static 'games/flappyNoodle/res/images/Player.png' %}" class="mb-3 thumbnail" alt="FlappyNoodle"/> </a> </div>
            </div>
        <div>
    </div>
{% endblock content %}