/*~~~~~~~~~~~~~~~~~ body ~~~~~~~~~~~~~~~~~*/
body{
    background-color: wheat !important;
}

.row li{
    background-color: wheat !important;
}

/*~~~~~~~~~~~~~~~~~ game canvas ~~~~~~~~~~~~~~~~~*/

canvas{
    border: black dashed
}

/*~~~~~~~~~~~~~~~~~ navbar + navbar dropdown ~~~~~~~~~~~~~~~~~*/
nav{
    background-color: #990000;
    color: white;
}

.nav-link{
    color: white !important;
    font-weight: bold;
}

/* Set the dropdown menu position*/
.dropdown-menu {
    position: absolute;
}

/* Set the navbar element position*/
.navbar {
    position: relative;
}

/* Position the dropdown menu relative to the navbar */
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
}

/* Make sure the dropdown menu stays within the viewport */
.dropdown-menu[data-bs-popper] .dropdown-menu {
    position: static !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Show the dropdown menu on hover or focus */
.nav-item:hover .dropdown-menu,
.nav-item:focus-within .dropdown-menu {
    display: block;
}

/*~~~~~~~~~~~~~~~~~ index page game containers ~~~~~~~~~~~~~~~~~*/
#gameDisplayBox .container{
    /*general*/
    min-height: 180px;
    min-width: 180px;

    /*background*/
    background-image: url('../resources/plate.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    /*text*/
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameDisplayBox .container a{
    color: #ECECEC;
    text-decoration: none;
}

/*~~~~~~~~~~~~~~~~~ foolter ~~~~~~~~~~~~~~~~~*/
#footer{
    background-color: #78430d;
}

#footer footer div *{
    color: white !important;
}

#footer footer ul li a{
    color: white !important;
    text-decoration: none;
}